# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
product/frontend/node_modules
product/frontend/.pnp
product/frontend/.pnp.js
product/frontend/.yarn/install-state.gz

# testing
product/frontend/coverage

# next.js
product/frontend/.next/
product/frontend/out/

# production
product/frontend/build

# misc
product/frontend/.DS_Store
product/frontend/*.pem

# debug
product/frontend/npm-debug.log*
product/frontend/yarn-debug.log*
product/frontend/yarn-error.log*

# local env files
product/frontend/.env*.local

# vercel
product/frontend/.vercel

# typescript
product/frontend/*.tsbuildinfo
product/frontend/next-env.d.ts

product/frontend/.vscode
product/frontend/.idea
#####################################

product/backend/HELP.md
product/backend/.gradle
product/backend/build/
product/backend/!gradle/wrapper/gradle-wrapper.jar
product/backend/!**/src/main/**/build/
product/backend/!**/src/test/**/build/

### STS ###
product/backend/.apt_generated
product/backend/.classpath
product/backend/.factorypath
product/backend/.project
product/backend/.settings
product/backend/.springBeans
product/backend/.sts4-cache
product/backend/bin/
product/backend/!**/src/main/**/bin/
product/backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
product/backend/.idea
product/backend/*.iws
product/backend/*.iml
product/backend/*.ipr
product/backend/out/
product/backend/!**/src/main/**/out/
product/backend/!**/src/test/**/out/

### NetBeans ###
product/backend/nbproject/private/
product/backend/nbbuild/
product/backend/dist/
product/backend/nbdist/
product/backend/.nb-gradle/

### VS Code ###
product/backend/.vscode/

.vscode/**
.idea/**

### Documentation ###
documents/*.aux
documents/*.lof
documents/*.log
documents/*.lot
documents/*.fls
documents/*.out
documents/*.toc
documents/*.fmt
documents/*.fot
documents/*.cb
documents/*.cb2
documents/.*.lb
documents/*.pdf
documents/*.synctex.gz

### Environment Variables + Backend Keys ###
product/frontend/.env
product/backend/src/main/resources/application.properties
product/backend/src/main/resources/jwt/app.key
product/backend/src/main/resources/jwt/app.pub
product/backend/src/test/resources/jwt/app.key
product/backend/src/test/resources/jwt/app.pub