@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height:100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  height: 100%;
  margin: 0;
  background: linear-gradient(180deg, rgba(0,133,255,1) 0%, rgba(53,153,148,1) 100%);  
  background-repeat:no-repeat;
  background-attachment: fixed;
}
